<form [formGroup]="formulario" (ngSubmit)="registrar()">
    
    <!-- Campo de Texto -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Texto</mat-label>
        <input matInput formControlName="texto">
        <mat-error *ngIf="formulario.get('texto')?.hasError('required')">Texto es obligatorio.</mat-error>
    </mat-form-field>

    <!-- Campo de Significados -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Significados</mat-label>
        <mat-chip-list #chipList>
            <mat-chip *ngFor="let significadoControl of significadosArray.controls; let i = index" 
                      [selectable]="selectable" 
                      [removable]="removable" 
                      (removed)="removerSignificado(i)">
                {{ significadoControl.value }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input matInput [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" 
                   (matChipInputTokenEnd)="agregarSignificadoDesdeEvento($event)">
        </mat-chip-list>
        <mat-error *ngIf="formulario.get('significados')?.hasError('required')">Significado es obligatorio.</mat-error>
    </mat-form-field>

    <!-- Botón para agregar significados -->
    <button mat-mini-fab color="primary" (click)="agregarSignificadoDesdeBoton()" style="margin: 20px 0;">
        <mat-icon>add</mat-icon>
    </button>

    <!-- Campo de Tipo -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Tipo</mat-label>
        <input matInput formControlName="tipo">
        <mat-error *ngIf="formulario.get('tipo')?.hasError('required')">Tipo es obligatorio.</mat-error>
    </mat-form-field>

    <!-- Campo de Dificultad -->
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Dificultad</mat-label>
        <select matNativeControl formControlName="dificultad">
            <option *ngFor="let dificultad of dificultades" [value]="dificultad">{{dificultad}}</option>
        </select>
    </mat-form-field>
    
    <!-- Botones de Acción -->
    <div class="buttons-container" style="margin-top: 20px;">
        <button mat-raised-button color="primary" type="submit" [disabled]="!formulario.valid">Registrar</button>
        <button mat-raised-button color="warn" (click)="cancelar()" style="margin-left: 10px;">Cancelar</button>
    </div>
</form>
